{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:import/recommended",
      "plugin:jsx-a11y/recommended",
      "plugin:@typescript-eslint/recommended",
      "eslint-config-prettier"
    ],
    "settings": {
      "react": {
        "version": "detect"
      },
      "import/resolver": {
        "alias": {
          "map": [
            ["@", "./main-src"]
          ],
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        },
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      },
      "import/debug": true
    },
    "rules": {
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
      "react/react-in-jsx-scope": "off"
    }
  }
