.questionInputContainer {
  position: relative;
  width: 100%;
}

.questionInputTextArea {
  width: 100%;
  height: 51px;
  background-color: teal;
}

.circlePlusIcon {
  position: absolute;
  width: 31px;
  height: 31px;
  z-index: 10;
  top: 10px;
  left: 12px;
}

.microphoneIcon {
  position: absolute;
  width: 31px;
  height: 31px;
  z-index: 10;
  top: 10px;
  right: 12px;
}

.sendBtnIcon {
  position: absolute;
  width: 31px;
  height: 31px;
  z-index: 10;
  top: 10px;
  right: -52px;
}
