.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.adminRoot {
  flex: 1;
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.adminContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #FFFFFF 57.29%, #EEF6FE 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.chatInput {
  position: sticky;
  flex: 0 0 100px;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100% - 100px);
  max-width: 1028px;
  margin-bottom: 50px;
  margin-top: 8px;
}

.textAreaInputContainer {
  /* position: absolute; */
  left: 6.5%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.textAreaLabel {
  margin: 10px;
}

.configurationInputTextArea {
  /* width: 100%; */
  min-height: 220px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.spanError {
  color: red;
}


.MobileAdminContainer {
  @media screen and (max-width: 600px) {
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;

  }
}

.mobileStyles {
  @media screen and (max-width: 600px) {
    max-width: 100%;
    flex-grow: 1;
    max-height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-weight: 300;
    font-size: 14px;
  }

  h2 {
    font-weight: 300;
    font-size: 12px;
  }
}